
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
}



.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.about-img img {
    max-width: 200px;
    height: auto;
    width: 80%;
    border-radius: 8px;
}

.about-text {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    flex: 1;
}
.about-text span{
    color: #0ef;
}

.services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    width: 100%;
}
.container {
    padding: 90px;
   
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr)); 
    grid-gap: 40px;
    margin-top: 110px;
    
}
.services-title {
    text-align: center;
}
.services-title span{
    color: #0ef;
}

.services-list div {
    background: transparent;
    padding: 50px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 2px 2px 25px #4bafbdf7, 1px 1px 40px #4ef7e9f7;
   

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    color: #000;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1; 
    animation: slideTop 10s ease forwards;
    animation-delay: 2;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover {
    color:black;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,
     0 0 50px cyan, 0 0 100px cyan, 
     0 0 200px cyan !important;
    
}

.services-list div:hover{
    transform:translateY(-100px) ;
}